# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Effektivitet - sortering.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Sorting in progress\School\Uni\Effektivitet och dtatastruktur\Uppgift 1\Effektivitet - sortering\.idea\.idea.Effektivitet - sortering\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
